.addList_a{
    text-decoration: none;
}

.addList_a:hover{
    color: teal;
}

.delete_a:hover{
    color: teal;
}

.delete_a{
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
}

.itemText a{
    text-decoration: none;
}

.itemText a:hover{
    color: teal;
}

.itemText span{
    color: crimson;
}

.createItem_a{
    text-decoration: none;
}

.createItem_a:hover{
    color: teal;
}

.changeListSub{
    cursor: pointer;
}

footer{
    position: absolute;
    bottom:0;
    width:100%;
    height: 50px;
}

.reset_a{
    text-decoration: none;
    border: 2px solid beige;
    padding: 2px;
    background-color: dodgerblue;
    color: white;
}

.reset_a:hover{
    color: red;
}